spring:
  application:
    name: spring boot 4 snippets collect 2
  profiles:
    active: local
  threads:
    virtual:
      enabled: true
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    panomete.project.spb4featsnip2: DEBUG
    org.hibernate: INFO
  pattern:
    console: "%clr(%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss.SSS Z}}){magenta} |  %clr(${LOG_LEVEL_PATTERN:%-5p}) | %clr(%-40.40logger{39}){cyan} | %clr(%-25.25M){yellow} | %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
