spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db_snippets
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    database: PostgreSQL

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

server:
  port: 8080
